<h1>Bookmark Manager </h1>
<h2>Hello <%= current_user %> </h2>

<form action="/links/new">
  <button type="submit">Add a new bookmark</button>
<table>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>TAG</th>
  </tr>
<% @links.each do |link| %>
<tr>
<td><%= link.title %></td>
<td><%= link.url %></td>
  <td><%= link.tags.map(&:name) %></td>
  <% end %>
</tr>
</table>
