<h1>Add a new bookmark</h1>

<form action="/links" method="post">
  Name:<input type="text" name="title"><br>
  URL:<input type="text" name="url"><br>
  TAG:<input type="text" name="tag"><br>
  <input type="submit" value="Add">
</form>
